@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-destructive: var(--destructive);
  --color-muted: var(--muted);
  --color-sub: var(--sub);
  --color-star: var(--star);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-heading: var(--font-heading);
}

:root {
  --radius: 0.625rem;

  --background: oklch(0.9897 0.0066 106.52);
  --foreground: oklch(0.0672 0 0);
  --destructive: oklch(0.5274 0.202 22.71);
  --muted: oklch(0.7252 0 0);
  --sub: oklch(0.9731 0 0);
  --star: oklch(0.8535 0.1744 88.77);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
}

@layer base {
  * {
    @apply border-muted;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply cursor-pointer;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  p,
  span {
    @apply text-base;
  }
  h5 {
    @apply text-2xl;
  }
  h4 {
    @apply text-[32px];
  }
  h3 {
    @apply text-[40px];
  }
  h2 {
    @apply text-5xl;
  }
  h1 {
    @apply text-[56px];
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center-safe;
  }
  .grid-center {
    @apply grid place-items-center-safe;
  }
}

/* Range slider */
#range-slider {
  background: var(--muted);
  height: 6px;
}
#range-slider .range-slider__range {
  background: var(--foreground);
  transition: height 0.3s;
}
#range-slider .range-slider__thumb {
  width: 16px;
  height: 16px;
  background: var(--foreground);
  transition: transform 0.3s;
}
#range-slider .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%);
}
